Rab-R1
RNAseq_Sha

*.fastq
*.fastq.gz
*.fq
*.fq.gz

read_QC/fastqc/
read_QC/fastp/
read_QC/kmer_counting/

assemblies/

*.o
*.e
assemblies/
assembly_evaluation/
genome_comparison/
read_QC/
*.fastq.gz
*.meryl/
